ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=steelware
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
STEELWARE_PORT=8080
ConnectionStrings__SteelWare=Host=localhost;Port=5432;Database=steelware;Username=postgres;Password=postgres
